/* ===== Navbar Section ===== */
.navbar {
    height: 15%;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #0d6efd;
}


.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.talk-btn {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.talk-btn:hover {
    background-color: #0b5ed7;
}

